.featured {
  height: 100vh;
}

.feature--verticalcolor {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 5%, transparent 95%);
}

.feature--horizontallcolor {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 15%, transparent 85%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 120px;
  padding-top: 70px;
}
.name {
  font-size: 60px;
  font-weight: bold;
}

.info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.points {
  display: inline-block;
  color: #46d369;
  margin-right: 15px;
}

.seasons {
  display: inline-block;
}

.description {
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.buttons {
  margin-top: 20px;
}

.buttonAssistir,
.buttonLista {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 50px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
  background: linear-gradient(to bottom, rgb(31, 30, 30) 93%, transparent 7%);
}

.buttonAssistir:hover,
.buttonLista:hover {
  opacity: 0.8;
}

.buttonAssistir {
  background-color: rgb(47, 4, 240);
  color: rgb(255, 255, 255);
}

.buttonLista {
  background-color: rgb(8, 4, 240);
  color: #fff;
}

.generos {
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}

@media (max-width: 768px) {
  .feattured {
    height: 90vh;
  }

  .name {
    font-size: 30px;
  }

  .info {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
    max-width: 100%;
    margin-right: 20px;
  }

  .buttonAssistir,
  .buttonLista {
    font-size: 11px;
    padding: 15px 45px;
  }

  .generos {
    font-size: 14px;
  }
  .feature--horizontallcolor {
    padding-bottom: 30px;
  }
}
