header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5;
  opacity: 0.9;
}

header.black {
  background-color: #141414;
}

.logo {
  height: 30px;
}

.logo img {
  height: 100%;
}

.user {
  height: 60px;
}

.user img {
  height: 100%;
  border-radius: 50%;
}
